<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Webshop</title>
</head>
<body>
<h1 style="left: 10px !important; margin-left: 15px !important; margin-top: 5px !important; margin-bottom: 20px !important;">Vareliste</h1>
<div class="container-fluid">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Varenavn</th>
            <th scope="col">Pris</th>
            <th scope="col">Beskrivelse</th>
            <th scope="col">Kategori</th>
            <th scope="col">Firma</th>
            <th scope="col">Firmabeskrivelse</th>
            <th scope="col"></th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.idProduct}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.description}"></td>
            <!--<td th:text="${product.categori}"></td>-->
            <!--<td th:text="${product.company.name}"></td>-->
            <!--<td th:text="${product.companyDescription.description}"></td>-->
            <td>
                <a th:href="@{/product/update(id=${product.idProduct})}" class="btn btn-primary" role="button">Opdater</a>
                <a th:href="@{/product/delete(id=${product.idProduct})}" class="btn btn-primary" role="button">Slet</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/product/create}" class="btn btn-success" role="button" style="
        margin-bottom: 8px;
    ">Create</a>
    <a th:href="@{/h2-console}" class = "btn btn-success" role = "button">H2 Console</a>
</div>

</body>
</html>